<ng-container *ngIf="isReady">
    <h1 mat-dialog-title>Edit Category</h1>
    <form class="add-category-form">
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field style="width: 100%;">
                    <mat-label>Category Name</mat-label>
                    <input type="text" matInput [(ngModel)]="category.nom" [formControl]="requiredValidator"
                        [errorStateMatcher]="matcher">
                    <mat-error *ngIf="requiredValidator.hasError('required')">
                        Category Name is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field style="width: 100%;">
                    <mat-label>Quantity</mat-label>
                    <input type="number" min="0" [(ngModel)]="category.qte" matInput [formControl]="minQte"
                        [errorStateMatcher]="matcher">
                    <mat-error *ngIf="requiredValidator.hasError('min')">
                        Minimum quantity is 0
                    </mat-error>
                    <mat-error *ngIf="requiredValidator.hasError('required')">
                        Quantity is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
    <mat-dialog-actions style="float: right;">
        <button mat-button [mat-dialog-close]="'cancel'" class="warn">Cancel</button>
        <button mat-button [mat-dialog-close]="check()" [disabled]="isvalidated()" color="confirm"> Confirm</button>
    </mat-dialog-actions>
</ng-container>